@import "../../../../scss/mixin";

.globalBtn{
    &:hover{
        color: $White;
        text-decoration: none;
    }
}
.glypycon-circle{
    background-color: $green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $green;
    display: inline-table;
    text-align: center;
}
